.FormClass {
    margin: 90px 10% 0;
    padding: 10px;
    flex-flow: column;
    display: flex;
    width: 80%;
    height: 40%;
    box-shadow: #00557b 2px 1px;
    border-radius: 6px;
    border: black solid 1px;
    text-align: center;
}

.MainDiv {
    margin: 90px 10% 0;
    padding: 10px;
    flex-flow: column;
    display: flex;
    width: 70%;
    height: 40%;
}

.MainDiv .Input {
    margin: 30px;
    height: 40px;
}
.ListItem{
    box-shadow: salmon 0.5px 1px;
    list-style: none;
    font-weight: bold;
    margin-bottom: 15px;
}